<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Welcome to Admin Panel</h2>
    <form method="post" action="/admin/restart_server">
        <input type="submit" value="Restart Server">
    </form>
  <form action="/admin/change_url_and_restart" method="post">
    <input type="text" name="new_url" placeholder="Enter new URL">
    <button type="submit">Change URL and Restart Server</button>
</form>
    <br>
    <a href="/admin/logout">Logout</a>
</body>
</html>